In [32]:
import pandas as pd

In [204]:
# before reading in, discarded any commitment amount under 100 dollars
df = pd.read_csv('aiddata2-1_thin_edit.csv')

In [205]:
df.head()

,aiddata_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,93512759,2009,Chile,Chile,100.0,15150,Strengthening civil society
1,50107520,2009,United Nations Children s Fund (UNICEF),Albania,100.0,15150,Democratic participation and civil society
2,50107904,2009,United Nations Children s Fund (UNICEF),Angola,100.0,12220,Basic health care
3,50112562,2009,United Nations Children s Fund (UNICEF),Azerbaijan,100.0,11220,Primary education
4,50004319,2009,United Nations Children s Fund (UNICEF),Benin,100.0,72010,Emergency/distress relief

In [224]:
df2 = df[df['donor']=='United States']
df3 = df2.groupby(['recipient','year','coalesced_purpose_code']).sum()

In [230]:
df2.head()

,aiddata_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
33,50077767,2009,United States,"America, regional",100.0,13040,Std control including hiv/aids
34,50065362,2009,United States,Burundi,100.0,52010,Food security programmes/food aid
35,50065399,2009,United States,Burundi,100.0,52010,Food security programmes/food aid
36,50064297,2009,United States,"Macedonia, FYR",100.0,11120,Education facilities and training
37,50065151,2009,United States,South Africa,100.0,13040,Std control including hiv/aids

In [225]:
df3.head()

                                         aiddata_id  \
recipient   year coalesced_purpose_code
Afghanistan 1973 52010                     13213006
            1974 52010                      6452487
                 60010                     13518810
            1975 31110                      6468537
                 60010                     26362620

                                         commitment_amount_usd_constant
recipient   year coalesced_purpose_code
Afghanistan 1973 52010                                       39421200.0
            1974 52010                                         321721.0
                 60010                                         314572.0
            1975 31110                                       26128000.0
                 60010                                         823033.0

In [226]:
del df3['aiddata_id']

In [227]:
df3.columns = ['year_purpose_total']
df3.head(1000)

                                         year_purpose_total
recipient   year coalesced_purpose_code
Afghanistan 1973 52010                         3.942120e+07
            1974 52010                         3.217210e+05
                 60010                         3.145720e+05
            1975 31110                         2.612800e+07
                 60010                         8.230330e+05
            1976 52010                         7.629170e+06
                 60010                         6.177470e+05
            1977 52010                         1.489550e+07
                 60010                         5.226513e+05
            1978 60010                         4.341200e+05
            1979 60010                         1.252430e+05
            1980 60010                         1.377348e+05
            1981 60010                         2.938430e+05
            1982 60010                         1.978200e+04
            1983 60010                         1.712650e+05
            1984 60010                         1.834050e+05
            1985 15150                         9.666290e+05
                 60010                         1.780160e+05
                 72010                         5.997370e+06
            1986 11120                         1.915830e+06
                 12110                         6.095830e+06
                 15140                         1.018870e+07
                 43010                         9.544320e+05
                 60010                         1.741660e+05
            1987 11110                         5.136840e+06
                 11120                         3.385070e+05
                 12110                         1.397356e+07
                 15140                         4.908350e+06
                 22010                         1.012136e+06
                 31110                         2.538800e+06
...                                                     ...
Albania     2006 23010                         7.961780e+05
                 25010                         5.934174e+06
                 41020                         1.166670e+06
                 43010                         2.059548e+07
                 43081                         6.263262e+04
            2007 12220                         2.743040e+05
                 12263                         1.031220e+05
                 13020                         6.323213e+05
                 13030                         1.667480e+06
                 13040                         4.359270e+05
                 15110                         1.686237e+06
                 15111                         1.577550e+05
                 15130                         1.690776e+06
                 15140                         1.690224e+06
                 15150                         2.005842e+06
                 15153                         7.079310e+03
                 15170                         2.681170e+05
                 15250                         4.949850e+05
                 21010                         7.015380e+03
                 23010                         6.067894e+05
                 24010                         3.896790e+05
                 25010                         2.471580e+06
                 31110                         1.020287e+05
                 31120                         3.674551e+06
                 33110                         1.144126e+06
                 41040                         3.317840e+04
                 43010                         3.246403e+06
                 60010                         5.740010e+05
                 73010                         2.320239e+05
            2008 12220                         6.599950e+05

[1000 rows x 1 columns]

In [255]:
df4 = df2.merge(df3, how='right', left_on=['recipient','year','coalesced_purpose_code'], right_index=True)

In [256]:
df4.head()

,aiddata_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name,year_purpose_total
33,50077767,2009,United States,"America, regional",100.0,13040,Std control including hiv/aids,249678.0
46791,50077864,2009,United States,"America, regional",2000.0,13040,Std control including hiv/aids,249678.0
108646,50077859,2009,United States,"America, regional",6000.0,13040,Std control including hiv/aids,249678.0
230086,50077844,2009,United States,"America, regional",18485.0,13040,Std control including hiv/aids,249678.0
274459,50077769,2009,United States,"America, regional",25000.0,13040,Std control including hiv/aids,249678.0

In [278]:
df4.drop_duplicates(['year', 'recipient', 'coalesced_purpose_code'], keep='first', inplace=True)

In [279]:
df5 = df4.groupby(['recipient','year']).sum()

In [280]:
del [df5['aiddata_id'], df5['commitment_amount_usd_constant'], df5['coalesced_purpose_code']]

In [281]:
df5.head()

                  year_purpose_total
recipient   year
Afghanistan 1973          39421200.0
            1974            636293.0
            1975          26951033.0
            1976           8246917.0
            1977          15418151.3

In [282]:
df5.columns = ['year_total']

In [289]:
df6 = df4.merge(df5, how='right', left_on = ['recipient','year'] , right_index=True )

In [290]:
del [df6['commitment_amount_usd_constant'], df6['aiddata_id']]

In [291]:
df6.head()

,year,donor,recipient,coalesced_purpose_code,coalesced_purpose_name,year_purpose_total,year_total
33,2009,United States,"America, regional",13040,Std control including hiv/aids,249678.0,91562729.0
870,2009,United States,"America, regional",15130,Legal and judicial development,5271154.0,91562729.0
46792,2009,United States,"America, regional",15111,Public finance management,958590.0,91562729.0
74588,2009,United States,"America, regional",33110,Trade policy and admin. management,1909046.0,91562729.0
79251,2009,United States,"America, regional",15110,Public sector policy and adm. management,200920.0,91562729.0

In [295]:
df7 = df6.sort_values(['year', 'year_total'], ascending=False)

In [299]:
df8 = df7[df7['year'] == 2010]

In [306]:
df9 = df8[df8['recipient'] != 'Bilateral, unspecified']

In [309]:
df10 = df9.sort_values('year_total', ascending=False)

In [340]:
bins = [11000, 11999, 13999, 14999, 20999,22999,23999,30999,51999,69999,89999,100000]
group_names = ['Education','Health','Water','Civil Society', 'Trans/Comm', 'Energy', 'Banking/Business', 'Agriculture/Env', 'Food', 'Emergeny Disaster Relief', 'Administrative']
categories = pd.cut(df10['coalesced_purpose_code'], bins, labels=group_names)
df10['categories'] = pd.cut(df10['coalesced_purpose_code'], bins, labels=group_names)
df10.head()

,year,donor,recipient,coalesced_purpose_code,coalesced_purpose_name,year_purpose_total,year_total,categories
3829,2010,United States,Afghanistan,91010,Administrative costs,1.359756e+07,3.440060e+09,Administrative
985308,2010,United States,Afghanistan,41000,"General environmental protection, combinations...",9.978910e+06,3.440060e+09,Agriculture/Env
781079,2010,United States,Afghanistan,15151,Elections,5.850730e+05,3.440060e+09,Civil Society
849523,2010,United States,Afghanistan,21020,Road transport,1.248913e+08,3.440060e+09,Trans/Comm
875573,2010,United States,Afghanistan,11220,Primary education,9.482098e+07,3.440060e+09,Education

In [342]:
df10.drop_duplicates(['year', 'recipient', 'categories'], keep='first', inplace=True)

In [343]:
df10.to_csv('aid.csv')

In [314]:
df10['recipient'].get_values

<bound method Series.get_values of 3829                   Afghanistan
985308                 Afghanistan
781079                 Afghanistan
849523                 Afghanistan
875573                 Afghanistan
884361                 Afghanistan
885892                 Afghanistan
900508                 Afghanistan
900511                 Afghanistan
901149                 Afghanistan
904836                 Afghanistan
906367                 Afghanistan
934204                 Afghanistan
972143                 Afghanistan
984783                 Afghanistan
991831                 Afghanistan
758802                 Afghanistan
996746                 Afghanistan
1012377                Afghanistan
1012857                Afghanistan
1014815                Afghanistan
1015721                Afghanistan
1019034                Afghanistan
1020230                Afghanistan
1027025                Afghanistan
1027036                Afghanistan
1031949                Afghanistan
1037782                Afghanistan
1039660                Afghanistan
12562                  Afghanistan
                    ...
575511           Trinidad & Tobago
586972           Trinidad & Tobago
120418           Trinidad & Tobago
25141            Trinidad & Tobago
19456                    Mauritius
681531                   Mauritius
381194     St.Vincent & Grenadines
617179     St.Vincent & Grenadines
449618             Solomon Islands
571110             Solomon Islands
497614           Antigua & Barbuda
530177           Antigua & Barbuda
54376            Equatorial Guinea
149379           Equatorial Guinea
294209           Equatorial Guinea
327956           Equatorial Guinea
273378                      Bhutan
236399                      Bhutan
12600                      Eritrea
323208                     Eritrea
380772                     Eritrea
2676                      Barbados
5312                      Barbados
300365                    Barbados
443869                    Dominica
300248                Cook Islands
55500          Sao Tome & Principe
17763                   Seychelles
209506                     Grenada
115258                  Montserrat
Name: recipient, dtype: object>